<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{notification.vehicleLicense}}">
  <ion-content class="padding">


    <img ng-src="{{notification.icon}}" class="center" style="width: 64px; height: 64px">
    <br>
    <p align="center"><b>
      {{notification.name}}
    </b></p>


    <!--ion-tree-list items="tasks" collapsed="true" template-url="templates/ion-item.tmpl.html"></ion-tree-list-->
    <!--ion-tree-list items="tasks" collapsed="true"></ion-tree-list-->


    <ion-list>

    <ion-item>
      <b>Fecha</b> <span class="item-note">{{notification.date}}</span>
    </ion-item>
    <ion-item>
      <b>Latitud</b> <span class="item-note">{{notification.latitude}}</span>
    </ion-item>
    <ion-item>
      <b>Longitud</b> <span class="item-note">{{notification.longitude}}</span>
    </ion-item>
    <ion-item>
      <b>Velocidad</b> <span class="item-note">{{notification.speed}}</span>
    </ion-item>
    <ion-item>
      <b>Altitud</b> <span class="item-note">{{notification.altitude}}</span>
    </ion-item>
    <ion-item>
      <b>Dirección</b> <span class="item-note">{{notification.geocoding}}</span>
    </ion-item>

    


    </ion-list>

<br>
    <ion-list>
    <ion-toggle  ng-model=notification.value ng-change="notificationArchiveChange()" toggle-class="toggle-calm">
        Archivar
    </ion-toggle>
    </ion-list>

  </ion-content>
</ion-view>
