<ion-view view-title="Últimas notificaciones">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="notification in notifications" type="item-text-wrap" href="#/tab/notifications/{{notification.id}}">
        <img ng-src="{{notification.icon}}">
        <h2>{{notification.vehicleLicense}}</h2>
        <p>{{notification.name}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(notification)">
          Archivar
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
