<ion-view view-title="{{titulo_device}}">
      <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>
      

  <ion-content class="padding">

    <button class="button button-block button-calm" ng-click="setAsDefault()">Seleccionar por defecto</button>

    <button class="button button-block button-balanced" ng-click="showMapDevice()">Ver en mapa</button>

    <br>

    <ion-list>

    <div class="item item-divider">
    Configuración de notificaciones:
    </div>

      <ion-item class="item item-config-notification" 
        ng-repeat="notificationConfig in notificationsConfig">
       
        <!--ion-toggle  ng-model="notificationConfig.enabled" ng-change="configNotificationChange('{{notificationConfig.id}}', {{notificationConfig.eventType}})">{{notificationConfig.name}}</ion-toggle-->

        <li class="item item-toggle">
            {{notificationConfig.name}}
             <label class="toggle toggle-calm">
               <input type="checkbox" ng-model="notificationConfig.enabled" ng-change="configNotificationChange('{{notificationConfig.id}}', {{notificationConfig.eventType}})">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
        </li>

    </ion-item>

    </ion-list>

  </ion-content>
</ion-view>