<ion-view view-title="{{'TITTLE_CONFIG' | translate}}">
      <ion-nav-bar class="bar-dark"  align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>

  <ion-content class="padding">

    <ion-list>
     
     <li class="item item-toggle">     
     <span translate="CONFIG_PUSH"></span>
     <label class="toggle">
       <input type="checkbox" ng-model="settings.enableNotifications" ng-change="configChange()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </li>


  <label class="item item-input item-select">
      <div class="input-label" translate="CONFIG_NUM_NOTIFICATIONS">
      </div>
      <select ng-model="dataNotifications.index" ng-options="itemsNotifications.indexOf(item) as item for item in itemsNotifications" ng-change="configChangeNumNotifications()">
      </select>
  </label>
      

  <label class="item item-input item-select">
      <div class="input-label" translate="LANGUAGE">
      </div>
      <select ng-model="dataLanguage.index" ng-options="itemsLanguage.indexOf(item) as item for item in itemsLanguage" ng-change="switchLanguage()">
      </select>
  </label>


    </ion-list>
    
    <br>

    <button class="button button-block button-balanced" ng-click="updateApp()" ng-show='!lastVersion'><span translate="CONFIG_UPDATE"></span></button>
    <button class="button button-block button-calm" ng-click="updateApp()" ng-show='lastVersion'><span translate="CONFIG_UPDATE"></span></button>


    <br>
    <button class="button button-block button-assertive" ng-click="logout()"><span translate="CONFIG_LOGOUT"></span></button>
    <br>
    <br>
    <br>

    <div class="row">
    <div class="col">
        <div class="text-center">
            <h5 style="text-align: center;">{{'VERSION' | translate}} {{version}} - {{version_date}}</h5>
        </div>
        <div class="text-center">
            <h6 style="text-align: center;">{{'DEVELOPED' | translate}}: <b>Elecnor-Deimos LBS</b></h6>
        </div>
    </div>
</div>



  </ion-content>
</ion-view>
