<ion-view view-title="Configurar">
      <ion-nav-bar class="bar-dark"  align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>

  <ion-content class="padding">

    <ion-list>
    <ion-toggle  ng-model="settings.enableNotifications" ng-change="configNotificationsChange()">
        Recibir notificaciones
    </ion-toggle>
    <ion-list>
    
    <br>

    <button class="button button-block button-assertive" ng-click="logout()">Desconectar</button>

  </ion-content>
</ion-view>
