<ion-view view-title="{{'TITTLE_CONFIG' | translate}}">
      <ion-nav-bar class="bar-dark"  align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>

  <ion-content class="padding">

    <ion-list>
     

    <!--ion-toggle  toggle-assertive ng-model="settings.enableNotifications" ng-change="configChange()">
        Recibir push
    </ion-toggle-->

     <li class="item item-toggle">     
     <span translate="CONFIG_PUSH"></span>
     <label class="toggle">
       <input type="checkbox" ng-model="settings.enableNotifications" ng-change="configChange()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </li>


    <!--li class="item item-toggle">
    <span translate="CONFIG_GROUP"></span>
     
     <label class="toggle toggle-calm">
       <input type="checkbox" ng-model="settings.enableGroupNotifications" ng-change="configChange()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li-->


<label class="item item-input item-select">
    <div class="input-label" translate="CONFIG_NUM_NOTIFICATIONS">
    </div>
    <select ng-model="optionSelected" ng-change="configChangeNumNotifications(optionSelected)">
      <option value="10">10</option>
      <option value="20">25</option>
      <option value="30">50</option>
      <option value="40">75</option>
      <option value="50">100</option>
    </select>
  </label>


<label class="item item-input item-select">
    <div class="input-label" translate="LANGUAGE">
    </div>
    <select ng-model="key" ng-change="switchLanguage(key)">
      <option value="es" translate="CONFIG_ES"></option>
      <option value="en" translate="CONFIG_EN"></option>
    </select>
  </label>



    </ion-list>
    
    <br>

    <button class="button button-block button-assertive" ng-click="logout()"><span translate="CONFIG_LOGOUT"></span></button>


    <br>
    <br>
    <br>
    <br>

    <div class="row">
    <div class="col">
        <div class="text-center">
            <h5 style="text-align: center;">Versión 0.6 - 16/02/2017</h5>
        </div>
        <div class="text-center">
            <h6 style="text-align: center;">Desarrollado por: <b>Elecnor-Deimos LBS</b></h6>
        </div>
    </div>
</div>



  </ion-content>
</ion-view>
