<!--ion-view view-title="{{titulo_mapa}}"-->
<ion-view cache-view="false">
      <ion-nav-bar class="bar-balanced"  align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
      </ion-nav-bar>

<ion-nav-title>
      <!--img src="logo.svg"-->
      Test
</ion-nav-title>

<ion-content>


        <!--div id="map" class="map" data-tap-disabled="true"></div-->


<!--canvas id="doughnut" class="chart chart-doughnut"
  chart-data="data" chart-labels="labels">
</canvas--> 

<canvas id="pie" class="chart chart-pie"
  chart-data="data" chart-labels="labels" chart-options="options">
</canvas> 


<canvas id="line" class="chart chart-line" chart-data="data3"
chart-labels="labels3" chart-series="series3" chart-options="options3"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>


<canvas id="bar" class="chart chart-bar"
  chart-data="data2" chart-labels="labels2"> chart-series="series"
</canvas>

<br>
    <button class="button button-block button-assertive" ng-click="reset()"><span translate="RESET"></span></button>
<br>

</ion-content>


</ion-view>
