<ion-view view-title="Kyros LBS" name="login-view">

<ion-nav-bar class="nav-title-slide-ios7" align-title="center">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Back
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button ion-wand customButtonIcon" ng-click="clean()">            
        </button>
    </ion-nav-buttons>
</ion-nav-bar>



  <ion-content class="padding">
 
  
    <div class="list list-inset">
      <label class="item item-input item-floating-label">
        <span class="input-label">Usuario:</span>
        <input type="text" autocapitalize="off" autocorrect="off" placeholder="Usuario" ng-model="data.username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Contraseña:</span>
        <input type="password" autocapitalize="off" autocorrect="off" placeholder="Contraseña" ng-model="data.password">
      </label>
    </div>
    
    <ion-list>
      <!--ion-checkbox ng-model="settings.remember" ng-change="remember()">Recordar</ion-checkbox-->

 <li class="item item-toggle">
     
     <label class="toggle toggle-calm">
       <input type="checkbox" ng-model="settings.remember" ng-change="remember()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     Recordar datos
    </li>

    </ion-list>


    <br>

    <button class="button button-block button-calm" ng-click="login()">Entrar</button>

<br><br>
    <img ng-src="img/kyros.svg" class="center" style="width: 120px; height: 120px" ng-click="version()">

   <!--div class="col text-center">
      <span text-center>
      <a href="#" onclick="window.open('https://www.kyroslbs.com', '_system', 'location=yes'); return false;">
                www.kyroslbs.com
            </a>
      </span>
    </div>


<div class="row" style="height: 900px;">
  <div class="col col-center">
  </div>
</div-->

  </ion-content>



</ion-view>