<ion-view view-title="{{notification.vehicleLicense}}">
<ion-nav-bar class="bar-assertive nav-title-slide-ios7" align-title="center">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Todas
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button ion-trash-b customButtonIcon" ng-click="archiveSelectNotification('{{notification.mongoId}}')">
            
        </button>
    </ion-nav-buttons>
</ion-nav-bar>


<ion-header-bar class="bar-subheader" align-title='center'>
  <button class="button ion-ios-arrow-back" ng-click="goPreviousNotification()"></button>
  <h1 class="title"><b>{{notification.name}}</b></h1>
  <button class="button ion-ios-arrow-forward" ng-click="goNextNotification()"></button>            
</ion-header-bar>

<!--div class="bar bar-subheader">
<button class="button ion-ios-arrow-back" ng-click="goPreviousNotification()">
  </button></div>
  <div class="col"><h4><b>{{notification.name}}</b></h4></div>
  <div class="col"><button class="button ion-ios-arrow-forward" ng-click="goNextNotification()"></button></div>

</div-->

    
       

<!--ks-swiper-container initial-slide="3" speed="2000" loop="true" show-nav-buttons="false" slides-per-view="3" space-between="5" pagination-clickable="false" override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}">
    <ks-swiper-slide class="swiper-slide">
        <img ng-src="img/events/stop.svg" width="100%">
        <img ng-src="img/events/stop.svg" width="100%">
        <img ng-src="img/events/stop.svg" width="100%">
        <img ng-src="img/events/stop.svg" width="100%">
        <img ng-src="img/events/stop.svg" width="100%">
    </ks-swiper-slide>            
</ks-swiper-container-->

        
  

  <ion-content class="padding has-header has-subheader">

    <!--img ng-src="{{notification.icon}}" class="center" style="width: 100px; height: 100px"-->
    <div class="iconNotificationDetail" ng-bind-html="trustedHtmlIcon"></div>

<br>

    <button class="button button-block button-balanced" ng-click="showMapNotification()">Ver en mapa</button>

    <ion-list>

      <ion-item>
        <b>Fecha</b> <span class="item-note">{{notification.date}}</span>
      </ion-item>
      <ion-item class="item" style="white-space: normal;">
        <b>Dirección</b> 
        <br><br><span class="item-note" class="left">{{notification.geocoding}}</span>        
      </ion-item>
      <ion-item>
        <b>Velocidad</b> <span class="item-note">{{notification.speed}}</span>
      </ion-item>
      <ion-item>
        <b>Altitud</b> <span class="item-note">{{notification.altitude}}</span>
      </ion-item>
      <ion-item>
        <b>Coordenadas</b> <span class="item-note">{{notification.latitude}}, {{notification.longitude}}</span>
      </ion-item>

    <!--ion-toggle  ng-model=notification.value ng-change="notificationArchiveChange()" toggle-class="toggle-calm">
        Archivar
    </ion-toggle-->

    </ion-list>

<!--script>
$("#aaa").toggleClass("scaling-svg-detail");
</script-->

    

  </ion-content>
</ion-view>
