<ion-view view-title="{{notification.vehicleLicense}}">
<ion-nav-bar class="bar-assertive nav-title-slide-ios7" align-title="center">
    <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
        Todas
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button ion-trash-b customButtonIcon" ng-click="archiveSelectNotification('{{notification.mongoId}}')">
            
        </button>
    </ion-nav-buttons>
</ion-nav-bar>

  <ion-content class="padding">

    <img ng-src="{{notification.icon}}" class="center" style="width: 84px; height: 84px">
    <h4>
    <p align="center"><b>
      {{notification.name}}
    </b></p>
    </h4>

    <button class="button button-block button-balanced" ng-click="showMapNotification()">Ver en mapa</button>

    <ion-list>

      <ion-item>
        <b>Fecha</b> <span class="item-note">{{notification.date}}</span>
      </ion-item>
      <ion-item class="item" style="white-space: normal;">
        <b>Dirección</b> 
        <br><br><span class="item-note" class="left">{{notification.geocoding}}</span>        
      </ion-item>
      <ion-item>
        <b>Velocidad</b> <span class="item-note">{{notification.speed}}</span>
      </ion-item>
      <ion-item>
        <b>Altitud</b> <span class="item-note">{{notification.altitude}}</span>
      </ion-item>
      <ion-item>
        <b>Coordenadas</b> <span class="item-note">{{notification.latitude}}, {{notification.longitude}}</span>
      </ion-item>

    <!--ion-toggle  ng-model=notification.value ng-change="notificationArchiveChange()" toggle-class="toggle-calm">
        Archivar
    </ion-toggle-->

    </ion-list>


    

  </ion-content>
</ion-view>
