<ion-view view-title="Notificaciones">

<ion-nav-bar class="bar-assertive nav-title-slide-ios7" align-title="center">
    <ion-nav-buttons side="left">
        
<!--img ng-src="img/3.png" class="center" style="width: 25px; height: 25px"-->
<div class="aa">{{num_notifications}}</div>            
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button ion-trash-b customButtonIcon" ng-click="archiveNotifications()">            
        </button>
    </ion-nav-buttons>
</ion-nav-bar>

      <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" ng-model="busqueda" placeholder="Buscar">
        </label>
        <button class="button button-clear button-stable ion-chevron-down">
      </div>


<ion-content class="has-subheader" ng-controller="DevicesCtrl">

    <ion-refresher pulling-text="Tirar para refrescar..." on-refresh="doRefresh()"> </ion-refresher>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" 
        ng-repeat="notification in notifications | filter: busqueda" type="item-text-wrap" href="#/tab/notifications/{{notification.id}}">


        <img ng-src="{{notification.icon}}">
        <h2>{{notification.vehicleLicense}}</h2>
        <p>{{notification.name}}</p>
        <p>{{notification.date}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(notification)">
          Archivar
        </ion-option-button>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
