
  

<!--ion-view view-title="{{titulo_mapa}}"-->
<ion-view cache-view="false">
  <ion-nav-bar class="bar-balanced"  align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>


  <ion-nav-title>
	{{titulo_graphs}}
  </ion-nav-title>


<ion-header-bar class="bar-subheader" align-title='center'>
  <button class="button ion-ios-arrow-back" ng-click="goLeft()" ng-show='showLeftArrow'></button>
  <h1 class="title"><b>{{subtitulo_graphs}}</b></h1>
  <button class="button ion-ios-arrow-forward" ng-click="goRight()"  ng-show='showRightArrow'></button>            
</ion-header-bar>



  <ion-content>



	<ion-list  ng-show='showSumary'>
      <ion-item>
        <p class="center"><b>{{ 'GRAPH_EVENTS' | translate}}</b><p>

		<!-- Grafico 1 -->
  		<canvas id="pie" class="chart chart-pie" chart-data="graph1_data" chart-labels="graph1_labels"></canvas> 

      </ion-item>

      <ion-item>
        <p class="center"><b><span translate="GRAPH_HOUR"></span></b><p>
     
		<!-- Grafico 2 -->
		<canvas id="line" class="chart chart-line" chart-data="graph2_data" chart-labels="graph2_labels" chart-series="graph2_series" chart-options="graph2_options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>

      </ion-item>

      <ion-item>
        <p class="center"><b><span translate="GRAPH_WEEK"></span></b></p>
   
		<!-- Grafico 3 -->
		<canvas id="bar" class="chart chart-bar"
		  chart-data="graph3_data" chart-labels="graph3_labels"> chart-series="graph3_series"
		</canvas>

      </ion-item>

      <ion-item>
    	<button class="button button-block button-assertive" ng-click="resetCounters()"><span translate="RESET"></span></button>
      </ion-item>
<br>
</ion-list>
  
    <ion-list  ng-show='showReport'>

<div class="item ion-clock item-divider"> Tiempo</div>

      <ion-item>
        <b>Inicio de la jornada</b> <span class="item-note">{{startDate}}</span>
        <br> <span class="item-note">{{startGeocoding}}</span>
      </ion-item>
      <ion-item>
        <b>Fin de la jornada</b> <span class="item-note">{{endDate}}</span>
        <br> <span class="item-note">{{endGeocoding}}</span>
      </ion-item>
      <ion-item>
        <b>Duración</b> <span class="item-note">{{duration}}</span>
      </ion-item>



<div class="item ion-speedometer item-divider"> Velocidad y distancia</div>

<!--div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email"></i>
    Check mail
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Record album
    <span class="item-note">
      Grammy
    </span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>

</div-->

      <ion-item>
        <b>Velocidad media (Km/h)</b> <span class="item-note">{{averageSpeed}}</span>
      </ion-item>
      <ion-item>
        <b>Velocidad máxima (Km/h)</b> <span class="item-note">{{maxSpeed}}</span>
      </ion-item>
      <ion-item>
        <b>Distancia (Km)</b> <span class="item-note">{{distance}}</span>
      </ion-item>
      <ion-item>
        <b>Consumo (L)</b> <span class="item-note">{{consumption}}</span>
      </ion-item>
      <ion-item>
        <b>Emisión de CO2 (Kg)</b> <span class="item-note">{{co2}}</span>
      </ion-item>

<div class="item ion-arrow-graph-up-right item-divider"> Eventos</div>
      <ion-item>
        <b>Arranque</b> <span class="item-note">2</span>
      </ion-item>
      <ion-item>
        <b>Parada</b> <span class="item-note">2</span>
      </ion-item>
      <ion-item>
        <b>Desconexión a alimentación</b> <span class="item-note">2</span>
      </ion-item>
      <ion-item>
        <b>Velocidad excedida</b> <span class="item-note">2</span>
      </ion-item>

  </ion-list>

    <div ng-show='showMap' id="map" class="map" data-tap-disabled="true"></div>

</ion-content>

</ion-view>


