
  

<!--ion-view view-title="{{titulo_mapa}}"-->
<ion-view cache-view="false">
  <ion-nav-bar class="bar-balanced"  align-title="center">
      <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>


  <ion-nav-title>
	{{titulo_graphs}}
  </ion-nav-title>


<ion-header-bar class="bar-subheader" align-title='center'>
  <button class="button ion-ios-arrow-back" ng-click="goLeft()" ng-show='showLeftArrow'></button>
  <h1 class="title"><b>{{subtitulo_graphs}}</b></h1>
  <button class="button ion-ios-arrow-forward" ng-click="goRight()"  ng-show='showRightArrow'></button>            
</ion-header-bar>

  <ion-content>

	<ion-list  ng-show='showSumary'>
      <ion-item>
        <p class="center"><b>{{ 'GRAPH_EVENTS' | translate}}</b><p>

		<!-- Grafico 1 -->
  		<canvas id="pie" class="chart chart-pie" chart-data="graph1_data" chart-labels="graph1_labels"></canvas> 

      </ion-item>

      <ion-item>
        <p class="center"><b><span translate="GRAPH_HOUR"></span></b><p>
     
		<!-- Grafico 2 -->
		<canvas id="line" class="chart chart-line" chart-data="graph2_data" chart-labels="graph2_labels" chart-series="graph2_series" chart-options="graph2_options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>

      </ion-item>

      <ion-item>
        <p class="center"><b><span translate="GRAPH_WEEK"></span></b></p>
   
		<!-- Grafico 3 -->
		<canvas id="bar" class="chart chart-bar"
		  chart-data="graph3_data" chart-labels="graph3_labels"> chart-series="graph3_series"
		</canvas>

      </ion-item>

      <ion-item>
    	<button class="button button-block button-assertive" ng-click="resetCounters()"><span translate="RESET"></span></button>
      </ion-item>
<br>
</ion-list>
  
    <ion-list  ng-show='showReport'>

<div class="item ion-clock item-divider positive"> Tiempo</div>

      <ion-item>
        <b>Inicio de la jornada</b> <span class="item-note">{{startDate}}</span>
        <br> <span class="item-note">{{startGeocoding}}</span>
      </ion-item>
      <ion-item>
        <b>Fin de la jornada</b> <span class="item-note">{{endDate}}</span>
        <br> <span class="item-note">{{endGeocoding}}</span>
      </ion-item>
      <ion-item>
        <b>Duración</b> <span class="item-note">{{duration}}</span>
      </ion-item>



<div class="item ion-speedometer item-divider balanced"> Velocidad y distancia</div>

      <ion-item>
        <b>Velocidad media (Km/h)</b> <span class="item-note">{{averageSpeed}}</span>
      </ion-item>
      <ion-item>
        <b>Velocidad máxima (Km/h)</b> <span class="item-note">{{maxSpeed}}</span>
      </ion-item>
      <ion-item>
        <b>Distancia (Km)</b> <span class="item-note">{{distance}}</span>
      </ion-item>
      <ion-item>
        <b>Consumo (L)</b> <span class="item-note">{{consumption}}</span>
      </ion-item>
      <ion-item>
        <b>Emisión de CO2 (Kg)</b> <span class="item-note">{{co2}}</span>
      </ion-item>

<div class="item ion-arrow-graph-up-right item-divider assertive"> Eventos</div>

      <ion-item  ng-repeat="event in events">
        <b>{{event.eventType}}</b> <span class="item-note">{{event.eventValue}}</span>
      </ion-item>


<br>

    <ion-item>
      <button class="button button-block button-balanced" ng-click="showMapHistoricDevice()">{{'SHOW_MAP' | translate}}</button>
    </ion-item>

<br>

  </ion-list>

  
  <ion-list  ng-show='showOdometer'>
    <div class="list">
     <a class="item item-icon-left positive" href="#"><i class="icon ion-calendar"></i>Día actual</a>
     <ion-item class="ion-ios-speedometer">
        <b>Velocidad media (Km/h)</b> <span class="item-note">{{daySpeed}}</span>
     </ion-item>
     <ion-item class="ion-android-globe">
        <b>Distancia (Km)</b> <span class="item-note">{{dayDistance}}</span>
     </ion-item>
     <ion-item class="ion-beaker">
        <b>Consumo (L)</b> <span class="item-note">{{dayConsumption}}</span>
     </ion-item>
    </div>

    <div class="list">
     <a class="item item-icon-left balanced" href="#"><i class="icon ion-calendar"></i>Semana actual</a>
     <ion-item class="ion-ios-speedometer">
        <b>Velocidad media (Km/h)</b> <span class="item-note">{{weekSpeed}}</span>
     </ion-item>
     <ion-item class="ion-android-globe">
        <b>Distancia (Km)</b> <span class="item-note">{{weekDistance}}</span>
     </ion-item>
     <ion-item class="ion-beaker">
        <b>Consumo (L)</b> <span class="item-note">{{weekConsumption}}</span>
     </ion-item>
    </div>

    <div class="list">
     <a class="item item-icon-left assertive" href="#"><i class="icon ion-calendar"></i>Mes actual</a>
     <ion-item class="ion-ios-speedometer">
        <b>Velocidad media (Km/h)</b> <span class="item-note">{{monthSpeed}}</span>
     </ion-item>
     <ion-item class="ion-android-globe">
        <b>Distancia (Km)</b> <span class="item-note">{{monthDistance}}</span>
     </ion-item>
     <ion-item class="ion-beaker">
        <b>Consumo (L)</b> <span class="item-note">{{monthConsumption}}</span>
     </ion-item class="ion-beaker">
    </div>

  </ion-list>

</ion-content>

</ion-view>


